﻿@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <h1>PÁGINA PRINCIPAL</h1>

        <ul>
            <li>@Html.ActionLink("Administración de proyectos", "Index", "Proyectos")</li>
            <li>@Html.ActionLink("Administración de usuarios", "Index", "Usuarios")</li>
            <li>@Html.ActionLink("Administración de roles", "Index", "Rol")</li>
            <li>@Html.ActionLink("Administración de Lineas Base", "Index", "LineaBase")</li>
        </ul>
    </div>