﻿@model IS2GRUPO9.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .login-box {
            width: 50%;
            margin: auto;
            background-color: #f3f3f3;
            text-align: center;
            padding: 25px 5px 25px 5px;
            font-family: sans-serif;
        }

        .input-box {
        }
    </style>
</head>
<body>
    <div style="margin-top: 50px;">
        <div style="text-align: center;">
            <h4>IS2GRUPO9</h4>
        </div>
        <div>
            <form action="@Url.Action("Index", "Login")" method="post">
                <div class="login-box">
                    <div class="input-box">
                        <label>Usuario</label>
                        @Html.TextBoxFor(model => model.Usuario, new { @class = "form-control", @placeholder = "ingrese el usuario" })
                    </div>
                    <div class="input-box">
                        <label>Contraseña</label>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    </div>
                    <input type="submit" value="Ingresar" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>
