﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>PÁGINA PRINCIPAL</h2>

    <ul>
        <li>@Html.ActionLink("Administración de proyectos", "Lista", "Proyectos")</li>
        <li>@Html.ActionLink("Administración de usuarios", "Index", "Usuarios")</li>
        <li>@Html.ActionLink("Administración de roles", "Index", "Rol")</li>
    </ul>
</div>