﻿@model IS2GRUPO9.Models.Proyecto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Proyecto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEncargado" class="control-label"></label>
                @Html.DropDownListFor(model => model.IdEncargado, (List<SelectListItem>)ViewBag.users, new { @class="form-control" })
                <span asp-validation-for="IdEncargado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLineaBase" class="control-label"></label>
                @Html.DropDownListFor(model => model.IdLineaBase, (List<SelectListItem>)ViewBag.lineasBase, new { @class="form-control" })
                <span asp-validation-for="IdLineaBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

