﻿@model IS2GRUPO9.Models.Proyecto
@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear</h2>

<div>
    @using (Html.BeginForm("Crear", "Proyectos", FormMethod.Post, new { @class = "form-is" }))
    {
        <label>Nombre Proyecto:</label>
        @Html.TextBoxFor(model => model.Nombre)

        <br />
        <label>Descripción:</label>
        @Html.TextBoxFor(model => model.Descripcion)

        <br />
        <label>Usuario:</label>
        @Html.DropDownListFor(model => model.IdEncargado, (List<SelectListItem>)ViewBag.users)

        <br />
        <label>Línea base:</label>
        @Html.DropDownListFor(model => model.IdLineaBase, (List<SelectListItem>)ViewBag.lineasBase)

        <input type="submit" value="crear" />
    }
</div>

