﻿@model IS2GRUPO9.Models.Proyecto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Proyecto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdEncargado)
        </dt>
        <dd>
            @if(Model.UsuarioEncargado != null)
            {
                @Html.DisplayFor(model => model.UsuarioEncargado.NombreUsuario)
            } else
            {
                @:ningún usuario asignado.
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdLineaBase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdLineaBase)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
