﻿@model IS2GRUPO9.Models.Proyecto
@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar</h2>

@using (Html.BeginForm("Eliminar", "Proyectos", FormMethod.Post, new { id = "eliminarProyectoForm" }))
{
    if (!String.IsNullOrEmpty(ViewBag.errorMessage))
    {
        <div>
            <h5>@ViewBag.errorMessage</h5>
        </div>
    }

<div>
    <div>
        <h1>@Model.Nombre</h1>
    </div>

    <div>
        <table>
            <tbody>
                <tr>
                    <td><label>Código de proyecto:</label></td>
                    <td><label>@Model.Id</label></td>
                </tr>
                <tr>
                    <td><label>Descripción del proyecto:</label></td>
                    <td><label>@Model.Descripcion</label></td>
                </tr>
                <tr>
                    <td><label>Fecha de inicio:</label></td>
                    <td><label>@Model.FechaCreacion</label></td>
                </tr>

                <tr>
                    <td><label>Descripción de proyecto:</label></td>
                    <td><label>@Model.Descripcion</label></td>
                </tr>
                <tr>
                    <td><label>Encargado:</label></td>
                    @if (Model.UsuarioEncargado != null)
                    {
                        <td><label>@Model.LineaBaseProyecto.Nombre</label></td>
                    }
                    else
                    {
                        <td><label>Sin usuario encargado.</label></td>
                    }
                </tr>
                <tr>
                    <td><label>Línea base:</label></td>
                    @if (Model.LineaBaseProyecto != null)
                    {
                        <td><label>@Model.LineaBaseProyecto.Nombre</label></td>
                    }
                    else
                    {
                        <td><label>Línea base no asignada.</label></td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IdEncargado)
    @Html.HiddenFor(model => model.IdLineaBase)
    @Html.HiddenFor(model => model.Descripcion)
    @Html.HiddenFor(model => model.FechaCreacion)
    @Html.HiddenFor(model => model.Nombre)
    <div>
        <input type="submit" name="eliminar" value="eliminar" />
        <input type="submit" name="cancelar" value="cancelar" />
    </div>
</div>
}
