﻿@model List<Proyecto>
@{
    ViewData["Title"] = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table-is {
        background-color: #f3f3f3;
    }
    .table-is {
        width: 100%;
    }
    .table-is td:first-child, .table-is th:first-child {
        text-align: center;
    }
    .table-is td {
        padding: 6px;
    }
</style>

<h2>Lista</h2>

<div>
    <table class="table-is">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Línea base</th>
                <th>Encargado</th>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var proyecto in Model)
            {
            <tr>
                <td>@Html.ActionLink("1", "Details", "Proyectos", new { id = 1 })</td>
                <td>@proyecto.Nombre</td>
                <td>@proyecto.Descripcion</td>
                @if (proyecto.LineaBaseProyecto != null)
                {
                    <td>@proyecto.LineaBaseProyecto.Nombre</td>
                }
                else
                {
                    <td>ninguna línea base asignada.</td>
                }
                @if (proyecto.UsuarioEncargado != null)
                {
                    <td>@proyecto.UsuarioEncargado.NombreUsuario</td>
                }
                else
                {
                    <td>ninguna usuario asignado.</td>
                }
                <td>
                    @Html.ActionLink("Editar", "Edit", "Proyectos", new { id = proyecto.Id }) &nbsp;|&nbsp;
                    @Html.ActionLink("Eliminar", "Delete", "Proyectos", new { id = proyecto.Id })
                </td>
            </tr>
            }
        </tbody>
        
        @Html.ActionLink("Crear nuevo proyecto", "Create", "Proyectos")
    </table>
</div>
