﻿@model IS2GRUPO9.Models.Proyecto
@{
    ViewData["Title"] = "Modificar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modificar</h2>

@using (Html.BeginForm("Modificar", "Proyecto", FormMethod.Post, new { @id = "editProjectForm" }))
{
    <label>Nombre Proyecto:</label>
    @Html.TextBoxFor(model => model.Nombre)

    <br />
    <label>Descripción:</label>
    @Html.TextBoxFor(model => model.Nombre)

    <br />
    <label>Usuario:</label>
    @Html.DropDownListFor(model => model.IdEncargado, (List<SelectListItem>)ViewBag.users)

    <br />
    <label>Línea base:</label>
    @Html.DropDownListFor(model => model.IdLineaBase, (List<SelectListItem>)ViewBag.lineasBase)

    @Html.HiddenFor(model => model.Id)
    <input type="submit" value="guardar" />
}