﻿@model List<Usuario>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        .table-is {
            background-color: #f3f3f3;
        }

        .table-is {
            width: 100%;
        }

            .table-is td:first-child, .table-is th:first-child {
                text-align: center;
            }

            .table-is td {
                padding: 6px;
            }
    </style>

<h2>Usuarios</h2>

<div>
    @Html.ActionLink("Crear nuevo usuario", "Crear", "Usuarios")
    <table class="table-is">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo electrónico</th>
                <th>Identificador</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@usuario.NombreUsuario</td>
                    <td>@usuario.Nombre&nbsp;@usuario.Apellido</td>
                    <td>@usuario.Email</td>
                    <td>@usuario.NombreUsuario</td>

                    @if (usuario.RolUsuario != null)
                    {
                        <td>
                            @usuario.RolUsuario.Nombre
                        </td>
                    }
                    else
                    {
                        <td>
                            ningún rol asignado.
                        </td>
                    }
                    <td>
                        @Html.ActionLink("Editar", "Editar", "Usuarios", new { idUsuario = usuario.Id })
                        <br />
                        @Html.ActionLink("Eliminar", "Eliminar", "Usuarios", new { idUsuario = usuario.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
