﻿@model IS2GRUPO9.Models.RequerimientoProyecto

@{
    ViewData["Title"] = "AgregarRequerimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AgregarRequerimiento</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarRequerimiento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prioridad" class="control-label"></label>
                <input asp-for="Prioridad" class="form-control" />
                <span asp-validation-for="Prioridad" class="text-danger"></span>
            </div>
            @Html.HiddenFor(model => model.IdProyecto)
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

