﻿@model IS2GRUPO9.Models.RequerimientoProyecto

@{
    ViewData["Title"] = "EditarRequerimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Requerimiento</h2>

<h4>Requerimiento Proyecto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarRequerimiento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prioridad" class="control-label"></label>
                <input asp-for="Prioridad" class="form-control" />
                <span asp-validation-for="Prioridad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProyecto" class="control-label"></label>
                <input asp-for="IdProyecto" class="form-control" />
                <span asp-validation-for="IdProyecto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

