﻿@model IS2GRUPO9.Models.RequerimientoProyecto

@{
    ViewData["Title"] = "EliminarRequerimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EliminarRequerimiento</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RequerimientoProyecto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prioridad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prioridad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdProyecto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdProyecto)
        </dd>
    </dl>
    
    <form asp-action="EliminarRequerimiento">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="IdProyecto" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
