﻿@model List<Proyecto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mis proyectos</h2>

<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink(item.Nombre, "Ver", "Desarrollo", new { @id=item.Id })</li>
        }
    </ul>
</div>