﻿@model Proyecto
@{
    ViewData["Title"] = "Ver";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var requerimientos = Model.Requerimientos;
}

    <style>
        .table-is {
            background-color: #f3f3f3;
        }

        .table-is {
            width: 100%;
        }

            .table-is td:first-child, .table-is th:first-child {
                text-align: center;
            }

            .table-is td {
                padding: 6px;
            }
    </style>

<h2>Ver</h2>

<h5>Gestión de Requerimientos</h5>
@if (requerimientos.Count > 0)
{
    <table class="table-is">
        <thead>
            <tr>
                <th>
                    Requerimiento
                </th>
                <th>
                    Prioridad
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var requerimiento in Model.Requerimientos)
            {
            <tr>
                <td>@requerimiento.Descripcion</td>
                <td>@requerimiento.Prioridad</td>
                <td>
                    @Html.ActionLink("Editar", "EditarRequerimiento", "Desarrollo", new { id = requerimiento.Id })
                    &nbsp;|&nbsp;
                    @Html.ActionLink("Eliminar", "EliminarRequerimiento", "Desarrollo", new { id = requerimiento.Id })
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <label>No se registran requerimientos.</label>
}

@Html.ActionLink("Agregar Requerimientos", "AgregarRequerimiento", "Desarrollo", new { id=Model.Id })

<h5>Tareas</h5>
<label>No se registran requerimientos.</label>