﻿@model IS2GRUPO9.Models.LineaBase

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            @Html.HiddenFor(model => model.ItemNames, new { id="ItemNames"})
            <div id="itemsContainer" style="display: none;">
            </div>
            <div>
                <label class="control-label">Tareas</label>
                <input type="text" placeholder="nombre de tarea" id="tareaInput" />
                <span class="text-danger" style="display: none;" id="tareaWarning">*</span>
                <label style="text-decoration: underline; cursor: pointer;" id="addItem">Añadir</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section scripts {
    <script>
        $(function () {
            
            var drawTasks = function (itemsArray) {
                var html = '';
                $.each(itemsArray, function (index, item) {
                    html += '<div>\
                                 <label class="control-label">'+ item + '</label>\
                                 <label style="text-decoration: underline; cursor: pointer;" class="removeItem" data-value="'+ item + '">Eliminar</label>\
                             </div>';
                });
                $('#itemsContainer').html(html);
                if (html === '') {
                    $('#itemsContainer').hide();
                } else {
                    $('#itemsContainer').show();
                }
            };
            $('#addItem').click(function () {
                var tarea = $('#tareaInput').val();

                if (tarea.trim() === '') {
                    $('#tareaWarning').show();
                    return;
                } else {
                    $('#tareaWarning').hide();
                    var items = $('#ItemNames').val();
                    var itemsArray = [];
                    if (items !== '') {
                        itemsArray = items.split(',');
                    }
                    itemsArray.push(tarea);
                    $('#ItemNames').val(itemsArray.join());
                    drawTasks(itemsArray);
                }
            });
            $(document).on('click', '.removeItem', function (event) {
                var tareaToRemove = $(this).data('value');
                var items = $('#ItemNames').val();
                var itemsArray = items.split(',');
                itemsArray = jQuery.grep(itemsArray, function(value) {
                  return value != tareaToRemove;
                });
                $('#ItemNames').val(itemsArray.join());
                drawTasks(itemsArray);
            })
        });
    </script>
}

