﻿@model List<LineaBase>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table-is {
        background-color: #f3f3f3;
    }

    .table-is {
        width: 100%;
    }

        .table-is td:first-child, .table-is th:first-child {
            text-align: center;
        }

        .table-is td {
            padding: 6px;
        }
</style>

<h2>Líneas Base</h2>

<div>
    @Html.ActionLink("Crear nueva línea base", "Crear", "LineaBase")
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lineaBase in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(lineaBase.Codigo.ToString(), "Ver", "LineaBase", new { id = lineaBase.Codigo })
                    </td>
                    <td>@lineaBase.Nombre</td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", "LineaBase", new { id = lineaBase.Codigo }) &nbsp;|&nbsp;
                        @Html.ActionLink("Eliminar", "Eliminar", "LineaBase", new { id = lineaBase.Codigo })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

