﻿@model IS2GRUPO9.Models.LineaBase

@{
    ViewData["Title"] = "Ver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    <div>
        <label>Actividades</label>
        <table>
            <tbody>
                @if (Model.Items.Count > 0)
                {
                    foreach (var tarea in Model.Items)
                    {
                        <tr>
                            <td>@tarea.Nombre</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>No se agregaron tareas.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.Codigo">Editar</a> |
    <a asp-action="Index">Atrás</a>
</div>
