﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Gestión de la configuración</h2>

    <ul>
        <li>@Html.ActionLink("Administración de Líneas base", "Index", "LineaBase")</li>
    </ul>
</div>